<!DOCTYPE html>
<html lang="en">

<head>
    <title>Magic Pixel Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="index.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <script defer src="index.js"></script>
    
    <script defer src="https://kit.fontawesome.com/13183284e4.js" crossorigin="anonymous"></script> <!-- TODO: ONLY LOAD USED ICONS? -->
</head>

<body>
    {{ partial "navbar.html" . }}
    {{ partial "header.html" . }}
    {{ partial "services.html" . }}
    {{ partial "product-categories.html" . }}
    {{ partial "new-arrivals.html" . }}
    {{ partial "showcase.html" . }}
    {{ partial "products.html" . }}
    {{ partial "footer.html" . }}
</body>

</html>